body { 
    margin: 0; 
    background: black; 
    overflow: hidden; 
}

div#player { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
div#player div.player-client {
    position: absolute;
    left: 0;
    top: 0;
}
div#player div.player-client .asciinema-player .control-bar,
div#player div.player-client .asciinema-player .loading {
    display: none;
}

/* Overlay */
div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
div.overlay span.status {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 10px;
    line-height: 30px;
    text-transform: uppercase;
    color: #D62839;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div.overlay button.cancel {
    color: #D62839;
    border: 1px solid #D62839;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    margin: 5px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: 50px;
    outline: none;
    text-transform: uppercase;
}
div.overlay button.cancel:hover {
    background: #D62839;
    color: white;
}
div.overlay button.cancel:active {
    background: rgba(214, 40, 57, 0.8);
    color: white;
}
.lds-ripple {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -70px;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #D62839;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/* Controls */

div#player div.controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    /*background: #121314;*/
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0) 100%);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
}

/* Buttons */

div#player div.controls button {
    position: relative;
    background: none;
	border: none;
	cursor: pointer;
    color: #fff;
    flex: 0 0 auto;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    outline: none;
    box-shadow: 
		inset 0 0 0 0 #D62839,
		0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
}
div#player div.controls button:hover {
    box-shadow: 
		inset 0 0 0 30px #D62839,
		0 1px 2px rgba(0,0,0,0.1);
}
div#player div.controls button.fstate-disabled .fstate-enable { 
    display: none!important; 
}
div#player div.controls button.fstate-enabled .fstate-disable { 
    display: none!important; 
}

/* Tooltips */

div#player div.controls button .tip {
    visibility: hidden;
    background-color:  #D62839;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    position: absolute;
    white-space: nowrap;
    line-height: 20px;
    z-index: 1;
    bottom: 39px;
    left: 0;
}
div#player div.controls button .tip::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #D62839;
    position: absolute;
    top: 30px;
    left: 7px;
}
div#player div.controls button:hover .tip {
    visibility: visible;
}
div#player div.controls button .tip.right {
    text-align: right;
    right: 0;
    left: auto;
}
div#player div.controls button .tip.right::before {
    left: auto;
    right: 7px;
}

/* Seek bar */

div#player div.controls div.seek-wrapper {
    background: transparent;
    position: relative;
    flex: 1 1 auto;
    border: #444 1px solid;
    height: 4px;
    cursor: pointer;
}
div#player div.controls div.seek-wrapper div.seek-bg {
    background: #D62839;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
div#player div.controls div.seek-wrapper input[type='range'] { 
    -webkit-appearance: none !important;
    background: transparent;
    position: absolute;
    left: -2px;
    top: -2px;
    height: 100%;
    width: 100%;
    outline: none;
    cursor: pointer;
}
div#player div.controls div.seek-wrapper input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #FFF;
    height:15px;
    width:15px;
	border-radius:100%;
    cursor:pointer;
    transform: scale(0.0);
    transition: transform 0.5s;
}
div#player div.controls div.seek-wrapper input[type='range']:hover::-webkit-slider-thumb {
    transition: transform 0.5s;
    transform: scale(1.0);
}

/* Position */

div#player div.controls div.seek-position {
    flex: 0 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: small;
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}